
$hdbg_color = #e54847
$font_color_block = #ffffff
$bd_color=#e5e5e5
html,body
    width 100%
.flex
    display flex
.flex1
    flex 1

.nav
    height 1.067rem
    font-size 18px
    text-align center
    background $hdbg_color
    padding 6px
    box-sizing border-box
    .arrow-left
        float left
        height 100%
        position relative
        &:after
            content ''
            width 12px
            height 12px
            position absolute
            top 50%
            left 16px
            border 2px solid #ffffff
            border-width 0 0 2px 2px
            transform rotate(45deg) translateY(-50%)//分开写会覆盖
    span
        color $font_color_block
        display inline-block

.page
    background #f4f4f4
    position relative
    z-index 1
    margin 0
    color #555555
    min-width 3.1rem
    -webkit-tap-highlight-color rgba(255,255,255,0)
    font 14px/1.5 Arial,Helvetica,sans-serif
    section
        background #ffffff
        border-bottom 1px solid $bd_color
    .movie-header
        padding 0
        background #f8f8f8
        border-bottom none
        .movie
            color #ffffff
            padding 0.4rem
            line-height 1
            position relative
            box-sizing border-box
            filter blur(0)//模糊化,越大越糊
            &-background,
            &-filter
                position absolute//脱离文档流，不占宽高
                top 0
                right 0
                left 0
                bottom 0
            &-background
                z-index 0
                filter blur(0.6rem)
                -webkit-filter blur(0.6rem)
                background-image url(./images/header-bg.jpg)
                background-size cover//填满,可能变形
                background-repeat no-repeat
                background-position-y 40%
            &-filter
                background-color #40454d
                opacity 0.5
            &-container
                z-index 1//脱离文档流才会有效
                position relative
                overflow hidden
                .movie-cover
                    float left
                    width 2.854rem
                    height 4rem
                    border 1px solid #f0f2f3
                    position relative
                    .img
                        width 100%
                    &:after
                        content ''
                        display block
                        width 1.6rem
                        height 1.8rem
                        background-image url(./images/bofang.png)
                        background-size 100% auto
                        position absolute
                        left 50%
                        top 50%
                        transform translate(-50%,-50%)
                        opacity 0.7
                        background-repeat no-repeat
                .movie-content
                    overflow hidden
                    padding-left 0.4rem
                    .movie-name
                        font-size 17px
                        margin 0.08rem
                    .movie-ename
                        font-size 12px
                        margin-bottom 0.3rem 
                    .movie-score
                        font-size 12px
                        margin-bottom 0.3em
                        .rating
                            .img
                                width 0.48rem
                                height 0.48rem
                                margin-right 2px                   
                            .rating-score
                                font-size 0.48rem
                                color #ffc600
                    .movie-detail
                        font-size 12px
                        margin-bottom 0.16rem
                        opacity 0.7
                        div,p
                            margin-bottom 0.14rem
            .operating
                margin-top 0.5rem
                div
                    border 1px solid rgba(255,255,255,0.4)
                    background-color rgba(255,255,255,0.4)
                    font-style 14px
                    color #ffffff
                    position relative
                    z-index 2
                    text-align center
                    padding 0.25rem
                    border-radius 4px
                    img
                        vertical-align middle
                    span
                        vertical-align middle
                .movie-watch
                    margin-right 0.3rem
                    img
                        width 14px
                .movie-mark
                    img
                        width 18px
    .section-sperate
        padding-top 0.4rem
        margin-bottom 0.3rem
        border-top 1px solid $bd_color
    .section-expander
        padding-left 0.4rem
        padding-right 0.4rem
        .text-expander
            .text-expander__content.close
                min-height 65px
                display -webkit-box
                overflow hidden
                text-overflow ellipsis
                word-break break-all
                -webkit-box-orient vertical
                -webkit-line-clamp 3
            &__button
                height 0.7rem
                text-align center
                .icon-chevron__down
                    width 10px
                    height 10px
                    border #000000
                    display inline-block
                    border 1px solid #555555
                    border-width 0 1px 1px 0
                    transform rotateZ(45deg)
                    box-sizing border-box
                    transition transform .5s
                .icon-chevron__down.up
                    transform rotateZ(-135deg)
    .section-seperate
        .movie-celebrities
            width 100%
            padding .3rem .3rem .1rem .3rem
            overflow-x scroll//x轴超出加上滚动条
            white-space nowrap//不允许换行
            box-sizing border-box
        li
            text-align center
            display inline-block
            padding 0.04rem
            .link
                color #000000
                .movie-celebrities__pic
                    width 1.7334rem
                    height 2.4rem
                    margin 0.05rem
                    img
                        width 100%
                span
                    display block
                    font-size 0.2rem
                    text-overflow ellipsis//文字超出就打点
                    white-space nowrap//不允许换行
                .movie-celebrities-roles
                    color #999

    .movie-booking
        padding-bottom 0.2rem
        .weui-flex
            text-align center
            .placeholder
                span
                    font-size 24px
                    color #d96a3d
                p
                    color #bababa
                    margin-top 0.1rem
    .movie-photo
        .movie-photo__lists
            width 100%
            box-sizing border-box
            padding 0.3rem 0.3rem 0.2rem 0.3rem
            white-space nowrap
            overflow-x scroll
            .stage-img-container
                margin-right 0.13333rem
                display inline-block
                width 2.4rem
                height 1.867rem
                .movie-celebrities__pic
                    width 100%
                    height 100%
                    img
                        width 100%
                        height 100%

                &:first-child
                    width 3.3334rem
                    height 1.867rem
                &:last-child
                    margin-right 0
    .section-seperate
        .pos_r
            position relative
            .join-comment
                position absolute
                right 0
                top 50%
                transform translateY(-50%)
                 font-size 14px
                border 1px solid $hdbg_color
                border-radius 25px
                background-color $hdbg_color
                color #fff
                padding 0.1rem 0.3rem
                box-sizing border-box
        .movie-comment
            width 100%
            padding 0.2rem 0 0.4rem 0
            .comment-item
                border 1px solid rgba(20,20,20,0.5)
                border-radius 25px
                padding 0.1rem 0.3rem
                margin 0.13333rem
                font-weight 500

#toast
    display none
.active
    display block !important